<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/we.css">
	<link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
</head>
<body class="help-page">
	<div class="fix-groups">
		<a class="download-bt">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="female icon"></i>
			<br>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo" href="index.html">
				<img src="../images/logo.png">
			</a>			<a class="item" href="index.html">易助首页</a>
			<a class="item" href="function.html">体系架构</a>
			<a class="item" href="culture.html">文化理念</a>
			<a class="item" href="help.html">帮助中心</a>
			<a class="item" href="we.html">关于我们</a>
			<a class="login" href="login.html">
				<i class="sign in icon"></i>
				登陆
			</a>
			<a class="signup" href="signup.html">
				注册
				<i class="sign in icon"></i>
			</a>
		</div>
	</div>

    <div class="photos">
        <img src="../images/group-second.jpg">
        <img src="../images/group-first.jpg">
        <img src="../images/group-third.jpg">
        <p>易助有一套特殊的建立关系体制，以保障用户能得到安全有效的服务。产品推出初期我们会和一些社区服务机构进行合作，社区住户将通过实名认证方式使用本产品，与该社区内的诊所、物业、安保等机构共同形成一个网上社区圈。邻里之间可在易助平台上交流互动，物业机构亦可在平台上发布信息，以此建立稳定的社区关系。当某一居民用户遇到困难发出求助信息时，系统就可根据这一关系通过分析不同的求助类型和场景将信息推送给特定的人群（比如亲朋邻里，社区医生保安等），使用户能得到及时有效安全的帮助。</p>
    </div>
	<div class="ui segments">
  		<div class="ui red segment">
	    	<p>我们的梦想</p>
	  	</div>
	  	<div class="ui secondary segment">
	  		<p>我们，希望创造出一种产品，搭建一个平台，实现一种服务，这个产品，这个平台，这种服务内含了一个伟大的体系。这个体系让帮助变得更加简单，让帮助变得更为有效，从物质，从心理，从现在，从长远解决老年人等弱势人群的健康，安全问题。让人们更愿意付出爱心，帮助别人。</p>
	  	</div>
	  	<div class="ui blue segment">
	    	<p>我们团队</p>
	  	</div>
	  	<div class="ui secondary segment">
    		<div class="ui cards">
    			<div class="card">
    				<div class="content">
    					<img class="right floated ui image" src="../images/yu.png">
    					<div class="header">
    						余阳
    					</div>
    					<div class="meta">
    						中山大学教授
    					</div>
    					<div class="description">
    						易助项目发起人，中国计算机学会高级会员，ACM会员，中山大学软件人才培训中心主任。
    					</div>
    				</div>
    				<div class="extra content">
    					<span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
    				</div>
    			</div>
    			<div class="card">
    				<div class="content">
    					<img class="right floated ui image" src="../images/pan.jpg">
    					<div class="header">
    						潘茂林
    					</div>
    					<div class="meta">
    						中山大学讲师
    					</div>
    					<div class="description">
    						易助项目指导者。专注于高频课程设计，软件测试课程设计，系统分析与设计。
    					</div>
    				</div>
    				<div class="extra content">
    					<span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
    				</div>
    			</div>
    			<div class="card">
    				<div class="content">
    					<img class="right floated ui image" src="../images/wang.jpg">
    					<div class="header">
    						王金鑫
    					</div>
    					<div class="meta">
    						dasdasdasd
    					</div>
    					<div class="description">
    						项目指导
    					</div>
    				</div>
    				<div class="extra content">
    					<span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
    				</div>
    			</div>
    			<div class="card">
    				<div class="content">
    					<img class="right floated ui image" src="../images/deng.jpg">
    					<div class="header">
    						邓成林
    					</div>
    					<div class="meta">
    						dasdasdasd
    					</div>
    					<div class="description">
    						项目指导
    					</div>
    				</div>
    				<div class="extra content">
    					<span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
    				</div>
    			</div>
                <div class="card">
                    <div class="content">
                        <img class="right floated ui image" src="../images/li.jpg">
                        <div class="header">
                            黎阳
                        </div>
                        <div class="meta">
                            软件工程师
                        </div>
                        <div class="description">
                            项目负责人
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <img class="right floated ui image" src="../images/lgo.png">
                        <div class="header">
                            李一奇
                        </div>
                        <div class="meta">
                            前端工程师
                        </div>
                        <div class="description">
                            前端负责人
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2015
                        </span>
                        <span>
                            <i class="heart red icon"></i>
                            123 likes
                        </span>
                    </div>
                </div>
                <div class="card technique">
                    <div class="content">
                        <div class="header">
                            技术部
                        </div>
                        <div class="description">
                            <p>Web前端：龚俊宁，李敏惠， 窦耀勇，罗炜劲，徐嘉辰，欧光文，林国丹</p>
                            <p>Android前端：童云钊，王福宇</p>
                            <p>系统后台：谢元新，符永宁，雷志杰</p>
                        </div>
                    </div>
                </div>
                <div class="card market">
                    <div class="content">
                        <div class="header">
                            市场部
                        </div>
                        <div class="description">
                            <p>销售部：张颖，童云钊</p>
                            <p>培训部：龚俊宁，窦耀勇，张颖</p>
                            <p>产品设计：童云钊，窦耀勇，张颖</p>
                            <p>原型设计：童云钊，窦耀勇，李敏惠，林国丹</p>
                        </div>
                    </div>
                </div>
                <div class="card bussiness">
                    <div class="content">
                        <div class="header">
                            行政部
                        </div>
                        <div class="description">
                            <p>客服管理：张颖，龚俊宁</p>
                            <p>财务管理：张颖</p>
                            <p>行政管理：龚俊宁，符永宁，张颖</p>
                        </div>
                    </div>
                </div>
    		</div>
  		</div>
	</div>
    <h2 class="feedback-title">用户反馈</h2>
    <p class="via-title">您的反馈会使我们更加出色</p>
    <div class="feedback">
        <form class="ui form">
            <div class="field">
                <label>标题</label>
                <input type="text" name="first-name">
            </div>
            <div class="field">
                <label>反馈内容</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>联系方式</label>
                <textarea rows="2"></textarea>
            </div>
            <button class="ui green button">提交</button>
        </form>
    </div>
	<div class="bottom-info">
		<div class="icons">
			<a>
				<i class="qq icon"></i>
			</a>
			<a>
				<i class="weibo icon"></i>
			</a>
			<a>
				<i class="wechat icon"></i>
			</a>
		</div>
		<div class="rights">
			Copyright © 2013-2015 E_HELP_WORKSHOP. All rights reserved.
		</div>
	</div>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../js/semantic.min.js"></script>
</body>
</html>